Flask==3.1.2
flask-cors==6.0.1
SQLAlchemy==2.0.44
psycopg2-binary
paho-mqtt==2.1.0
python-dotenv==1.1.1
pydantic>=2.10.0
supabase==2.3.0
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0
alembic==1.17.2
# AI Dependencies
joblib
scikit-learn
pandas
numpy
google-ai-generativelanguage==0.6.15
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.43.0
google-auth-httplib2==0.2.1
google-generativeai==0.8.5
googleapis-common-protos==1.72.0